extend layout

block content
  h1= title
  p #{category.description}

  hr
  if items.length
    ul
      each item in items
        li 
          a(href=item.url) #{item.name}
  else
    p There are no items in this category.

  div
    p
      a(href=category.url + '/update') Update Item
    p
      a(href=category.url + '/delete') Delete Item
