extend layout

block content
  h1= title
  h2 Price: #{item.price}
  p= item.description
  p
    a(href=item.category.url) #{item.category.name}
  p Stock: #{item.stock}

  div
    p
      a(href=item.url + '/update') Update Item
